@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
}

html.dark,
body.dark {
  background-color: #131619;
}

@media (forced-colors: active) {
  html {
    background-color: Canvas;
    color: CanvasText;
  }
}

@layer base {

  /* Remove scrollbar */
  .remove-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb:hover {
    /* background: #1e2238; */
    background: transparent;
  }

  .responsive-text {
    font-size: calc(1rem + 1vw);
    line-height: 1;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent
}

::-webkit-scrollbar-thumb {
  background-color: #515151;
  border-radius: 10px;

}

::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

/* For Firefox */
html {
  scroll-behavior: smooth;
  line-height: 0.5;
}

/* =====  REACT-DATEPICKER OVERRIDES */
.react-datepicker-wrapper.date-picker {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  align-items: center;
}

.react-datepicker,
.react-datepicker__time,
.react-datepicker__header,
.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker-time__header {
  font-family: 'Nunito', sans-serif !important;
  font-weight: 600 !important;
  background-color: #1a1d21 !important;
  border-color: #363a3d !important;
  color: #abb8c4 !important;
  border-radius: 12px !important;
}

.react-datepicker__navigation {
  top: 5px !important;
}

.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker-time__header {
  color: #ffffff !important;
}

.react-datepicker__day:hover {
  background-color: #563e84 !important;
}

.react-datepicker__triangle {
  fill: #1a1d21 !important;
  color: #1a1d21 !important;
  stroke: #1a1d21 !important;
}

.react-datepicker__time-list-item:hover {
  background-color: #363a3d !important;
}

.react-datepicker__input-container input {
  font-family: 'Nunito', sans-serif !important;
  background-color: transparent !important;
  width: 100%;
  color: #515151;
  font-size: 15px;
  font-weight: 600;
  outline: none;
}

.dark .react-datepicker__input-container input {
  color: #ffffff !important;
}

.react-datepicker__input-container input::placeholder {
  font-family: 'Nunito', sans-serif !important;
  color: #cad0d3;
  font-size: 16px;
  font-weight: 600;
  opacity: 1;
}

.dark .react-datepicker__input-container input::placeholder {
  color: #515151;
}

.react-datepicker__month-select {
  border-radius: 10px !important;
  border: 1px solid #363a3d !important;
  color: #515151 !important;
  font-size: 14px !important;
  font-weight: 600;
  border: none;
  outline: none;
}

.react-datepicker__year-select {
  border-radius: 10px !important;
  border: 1px solid #363a3d !important;
  color: #515151 !important;
  font-size: 14px !important;
  font-weight: 600;
  border: none;
  outline: none;
}



.react-datepicker__day--selected {
  background-color: #6A42B8 !important;
  color: #ffffff !important;
  border-radius: 4px;
  font-size: larger !important;
}

.react-datepicker__time-list-item--selected {
  background-color: #6A42B8 !important;
}

.react-datepicker__time-container {
  border-left: 1px solid #363a3d !important;
}

.react-datepicker__time-list-item {
  display: flex !important;
  align-items: center !important;
}

/* =====  REACT PHONE NUMBER INPUT OVERRIDES */
.PhoneInputInput {
  max-width: 70% !important;
  background-color: transparent !important;
  outline: none;
  margin-left: 4px;
  color: #515151;
  font-size: 15px;
  font-weight: 600;
}

.dark .PhoneInputInput {
  color: #ffffff !important;
}

.PhoneInputInput::placeholder {
  font-family: 'Nunito', sans-serif !important;
  color: #cad0d3;
  font-size: 16px;
  font-weight: 600;
  opacity: 1;
}

.dark .PhoneInputInput::placeholder {
  color: #515151;
}

/* pulse animation in Stepper form */
.pulse:before,
.pulse:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background-color: #8a82fb;
  opacity: 0.7;
  z-index: -1;
}

.pulse:before {
  animation: pulse 2s ease-out infinite;
}

.pulse:after {
  animation: pulse 2s 1s ease-out infinite;
}

@keyframes pulse {
  100% {
    transform: scale(1.85);
    opacity: 0;
  }
}