@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
}

html.dark,
body.dark {
  background-color: #131619;
}

@layer base {

  /* Remove scrollbar */
  .remove-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb:hover {
    /* background: #1e2238; */
    background: transparent;
  }

  .responsive-text {
    font-size: calc(1rem + 1vw);
    line-height: 1;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent
}

::-webkit-scrollbar-thumb {
  background-color: #515151;
  border-radius: 10px;

}

::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

/* For Firefox */
html {
  scroll-behavior: smooth;
  line-height: 0.5;
}

/* =====  REACT PHONE NUMBER INPUT OVERRIDES */
.PhoneInputInput {
  max-width: 70% !important;
  background-color: transparent !important;
  outline: none;
  margin-left: 4px;
  font-size: 14px;
  font-weight: 500;
}

.PhoneInputInput::placeholder {
  color: #cad0d3;
  font-size: 16px;
  font-weight: 600;
  opacity: 1;
}

.dark .PhoneInputInput::placeholder {
  color: #515151;
}